#footer{    
    background-color:#cb723b;
    background-repeat: repeat;
    color:#FFFFFF;
    padding:60px 0;

    h2{
        color:#FFF;
    }

    h3{
        color:#FFF;
    }

    ul.menu-footer{
        list-style-type:none;
        padding:0;
        margin:0;
        display:block;

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        li{
            display:block;
            float:left;
            width:16.6%;

            a{
                color:#FFF;
            }
            a:hover{
                color:#638BC0;
            }
        }
    }

    ul.redes_sociais_header{
            height: 22px;
            text-align: right;
            list-style:none;
            margin-bottom:0;
            display:inline-block;
            padding-left:10px;
    }

    ul.redes_sociais_header li:hover{
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    ul.redes_sociais_header li{
        margin-right: 5px;
    }

    ul.redes_sociais_header a{
        display: inline-block;
        width:28px;
        height:28px;
    }

    ul.redes_sociais_header .youtube{
        background-image: url("images/redes-bot.jpg");
        background-position: 0px,center;
        background-repeat:no-repeat;
        width:28px;
        height:28px;
        display:inline-block;       
    }

    ul.redes_sociais_header .instagram{
        background-image: url("images/redes-bot.jpg");
        background-position: -35px,center;
        background-repeat:no-repeat;
        width:28px;
        height:28px;
        display:inline-block;       
    }

    ul.redes_sociais_header .twitter{
        background-image: url("images/redes-bot.jpg");
        background-position: -70px,center;
        background-repeat:no-repeat;
        width:28px;
        height:28px;
        display:inline-block;       
    }

    ul.redes_sociais_header .facebook{
        background-image: url("images/redes-bot.jpg");
        background-position: -106px,center;
        background-repeat:no-repeat;
        width:28px;
        height:28px;
        display:inline-block;       
    }

}
div.copyrino{
    background-color:#243b59;
    text-align: center;
    color: #FFF;
    padding:40px 0;

    ul{
        list-style-type: none;
        padding:0;

        li{
            float:left;
            margin-left:30px;
            a{
                color:#FFF
            }
            a:hover{
                color:#cd4228;
            }
        }
    }
}

@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}
